*.sock
*.pyc
*.profile

# Ignore generated ebpf modules
ebpf_prog/opensnitch-dns.o
ebpf_prog/opensnitch-procs.o
ebpf_prog/opensnitch.o

# Ignore generated protobuf files
daemon/ui/protocol/ui.pb.go
daemon/ui/protocol/ui_grpc.pb.go

# Ignore generated locale files
ui/i18n/locales/**/opensnitch-*.ts

# Ignore coverage backend generated data
daemon/coverage.out
daemon/coverage.out.tmp

# Ignore generated .qm files
# see: https://doc.qt.io/qt-6/localization.html
ui/i18n/locales/**/*.qm
ui/opensnitch/i18n
